.not-found {
  padding-top: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  text-align: center;
  margin: 0 0 10px;
}

.not-found__subtitle {
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 284px;
}

.not-found__back-link {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .not-found {
    padding-top: 408px;
  }

  .not-found__title {
    font-size: 140px;
    line-height: 169px;
    margin-bottom: 5px;
  }

  .not-found__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 184px;
  }

  .not-found__back-link {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 222px;
  }
}

@media screen and (min-width: 1280px) {
  .not-found {
    padding-top: 246px;
  }

  .not-found__back-link {
    margin-bottom: 60px;
  }
}
